.contact-wrap {
  /* margin-top: 64px; */
  position: relative;
  padding: 50px;
  padding-bottom: 0px;
  width: 100vw;
  max-width: 1400px;
  .contact-tip {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contact-content {
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-left-width: 5px;
  }
}

.contact-info-wrap {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 2;
  .contact-info-name {
    font-size: 22px;
  }
  .contact-info-title {
    font-style: italic;
    font-weight: bold;
  }
}
