/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.anticon svg  {
  /* display: inline-block; */
  width: 1em;
  /* height: auto; */
  min-width: auto;
  /* min-height: 1rem; */
}

.rps-theme-color {
  color: #823d78;
}
.rps-theme-bgcolor {
  background-color: #25a163;
}
.rps-theme-bgcolor-light {
  background-color: #f0e4f2;
}
.rps-theme-bdcolor {
  border-color: #823d78;
}

.rps-theme-color-sc {
  color: #08979c !important;
}
.rps-theme-bgcolor-sc {
  background-color: #08979c;
}
.rps-theme-bdcolor-sc {
  border-color: #08979c;
}

.rps-theme-color-th {
  color: #092b66;
}
.rps-theme-bgcolor-th {
  background-color: #092b66;
}
.rps-theme-bgcolor-th-light {
  background-color: #deebf7;
}
.rps-theme-bdcolor-th {
  border-color: #092b66;
}

.rps-theme-filter-brightness-1 {
  filter: brightness(1.1);
}

@keyframes Main-title-appear {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.rps-theme-title-main {
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  animation: 0.8s Main-title-appear;
}

th {
  font-weight: bold !important;
}

a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
