.home-content {
  // width: 1280px;
  overflow: hidden;
  // display: flex;
  align-items: center;
  // height: inherit;
  /* max-width: 1300px;
      margin: auto; */
  /* padding-left: 15%;
      padding-right: 15%; */
  background-size: cover;
  /* background-image: url(../../imges/home/background2.png); */
  /* background-color: #fff; */
  background-position: bottom;
  .home-content-container {
    /* overflow: hidden; */
    display: flex;
    padding-top: 25px;
    padding-left: 125px;

    // margin-left: 100px;
    // align-items: center;
    // height: inherit;
    // max-width: 1300px;
    // margin: auto;
  }
  .home-content-left {
    width: 1000px;
    padding-right: 100px;
    // background-color: #fff;
    // position: relative;
  }
  .home-content-text-wrap {
    padding: 0px 10px 50px 60px;
    font-size: 20px;
    background-color: #ffb6c1;
    // width: 80%;
    border-radius: 60px;
  }
  .home-content-picture {
    margin-left: 50px;
  }
  .activ-wrap {
    position: relative;
    // width: 70vw;
    padding-bottom: 0px;
    // display: flex;
    // background-color: aqua;
    // opacity: 0;
    text-align: left;
    // margin-top: 20px;
    margin-bottom: 40px;
    animation: 2s 2s title-fade-in forwards;
    .main-select {
      color: #fff;
      .ant-select-selector {
        background-color: rgb(177, 177, 71);
        border: 0;
      }
      .ant-select-arrow {
        color: #fff;
      }
    }
    .select-wrap {
      display: inline-block;
      // text-align: center;
      width: 100px;
      margin-right: 20px;
    }
    .input-wrap {
      display: inline-block;
      width: 350px;
      margin-right: 20px;
    }
    .homepage-comps {
      height: 50px;
      font-size: 20px;
      border-radius: 5px;
    }
    .search-btn {
      width: 10%;
      min-width: 60px;
      text-overflow: ellipsis;
      overflow: hidden;
      background: rgb(146, 146, 68);
      padding: 0;
      font-size: 20px;
      border: none;
    }
    .search-btn:hover {
      /* border: 1px solid #669999; */
      /* background-color: #60c5e0; */
      filter: brightness(1.2);
    }
  }
}

.home-tuma-logo {
  font-family: Book Antiqua;
  font-style: italic;
  font-weight: 700;
}

.contentStyle-1 {
  text-decoration: underline wavy red;
}

.contentStyle-2 {
  color: yellow;
}
