.search-form-wrap {
  padding-right: 20px;
}

.search-form-addlist-wrap {
  .search-form-addlist-item {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .search-form-addlist-item:hover {
    color: #08979c;
  }
}
