// @keyframes wrap-show {
//     0% { transform: translateY(-40px); opacity: 0; }
//     100% { transform: translateY(0); opacity: 1; }
// }

.tuma-help-wrap {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1400px;
  background-color: aqua;
  margin: auto;
  position: relative;
  .tuma-help-content {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    animation: 0.8s wrap-show;
    .tuma-help-content-left {
      overflow-x: hidden;
    }
    .tuma-help-content-right {
      min-width: 310px;
      .tuma-help-nav {
        margin-left: 10px;
      }
      .tuma-help-nav-fixed {
        position: fixed;
        top: 80px;
        right: auto;
      }
    }
  }
}
