@keyframes card-show {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contentcard-title-wrap {
  /* color: #fff; */
  padding: 10px 0px 10px 20px;
  border-left-width: 10px;
  border-left-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  font-size: 22px;
  font-weight: bold;

  .contentcard-title-text {
    margin-left: 5px;
  }
}

.card-wrap {
  animation: 0.8s card-show;
}

.card-wrap-shadow {
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.2);
}
.card-wrap-border {
  border-radius: 4px;
}

.card-nopadding {
  .ant-card-head-title {
    padding-bottom: 0px;
  }
  .ant-card-body {
    padding-top: 0px;
    padding-left: 0px;
  }
}
