* {
  margin: 0;
  padding: 0;
}
.headernav-content {
  background-color: hsl(0, 100%, 25%);
  display: flex;
  width: 1200px;
  .headernav-logo {
    // margin-left: 50px;
    height: auto;
    padding-top: 0px;
    // margin-top: 10px;
    // border: 5px solid #fff;
    // padding-bottom: 0px;
    // background-color: aqua;
    // line-height: 1px;
  }
  // .headernav-title {
  //   font-size: 30px;
  //   // margin-top: 0px;
  //   // padding: 40px;
  //   border: 5px solid #cc176b;
  // }
  .headernav-right {
    width: 100%;
  }
  .headernav-title {
    font-size: 45px;
    color: #fff;
    margin-left: 20px;
    // margin-top: 10px;
    // padding-bottom: 15px;
    // border: 5px solid #64515a;
    // font-style: italic;
    font-weight: bold;
    line-height: 55px;
  }
  .headernav-item1111 {
    display: flex;
    // text-align: right;
    height: 15px;
    // margin-right: 20px;
    // margin-left: -150px;
    margin-top: 0px;
    // position: relative;
    // padding-left: 500px;
  }
  .headernav-item-wrap {
    // display: flex;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
}

// .headernav-item-wrap {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   height: 64px;
//   width: 10%;
//   max-width: 130px;
//   min-width: 100px;
//   text-align: center;
//   vertical-align: middle;
//   padding-right: 10px;
//   padding-left: 10px;
//   color: #fff;
//   font-size: 20px;
//   font-weight: bold;
//   transition: filter 0.5s;
//   overflow: hidden;
//   transition: background-color 0.5s;
// }
.headernav-item-wrap.activated {
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
.headernav-item-wrap:hover {
  filter: brightness(0.8);
}
